<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
  <script src="javascripts/jquery-3.1.1.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
</head>
  <body>
  <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

<a href="/editor">Перейти к редактору</a>
  </body>
</html>
